<div class="card">
  <div class="container">
    <h1 class="font-mode-500">Daniel Andres Castillo Pedroza</h1>
    <h3 class="font-mode-300">Ingeniero de Sistemas</h3>
    <h6 class="font-mode-100">Universidad Popular del Cesar</h6>
  </div>

  <div class="container">
    <div
      class="grid xs-grid-8 md-grid-12 lg-grid-16 xs-grid-col-2 sm-grid-col-4 md-grid-col-6 lg-grid-col-8 xl-grid-col-12"
    >
      <div class="cell">1</div>
      <div class="cell">2</div>
      <div class="cell">3</div>
      <div class="cell">4</div>
      <div class="cell">5</div>
      <div class="cell">6</div>
      <div class="cell">7</div>
      <div class="cell">8</div>
      <div class="cell">9</div>
      <div class="cell">10</div>
      <div class="cell">11</div>
      <div class="cell">12</div>
      <div class="cell">13</div>
      <div class="cell">14</div>
      <div class="cell">15</div>
    </div>
  </div>

  <div class="container">
    <div
      class="flex xs-flex-grid-8 md-flex-grid-16 sm-flex-grid-col-4 md-flex-grid-col-6 lg-flex-grid-col-8 xl-flex-grid-col-12"
    >
      <div
        class="content xl-flex-col-12 lg-flex-col-8 md-flex-col-6 sm-flex-col-4"
      >
        <div class="cell">01</div>
      </div>
      <div
        class="content xl-flex-col-6 lg-flex-col-4 md-flex-col-3 sm-flex-col-2"
      >
        <div class="cell">02</div>
      </div>
      <div
        class="content xl-flex-col-6 lg-flex-col-4 md-flex-col-3 sm-flex-col-2"
      >
        <div class="cell">03</div>
      </div>
      <div
        class="content xl-flex-col-4 lg-flex-col-2 md-flex-col-2 sm-flex-col-3"
      >
        <div class="cell">04</div>
      </div>
      <div
        class="content xl-flex-col-4 lg-flex-col-2 md-flex-col-2 sm-flex-col-1"
      >
        <div class="cell">05</div>
      </div>
      <div
        class="content xl-flex-col-4 lg-flex-col-2 md-flex-col-2 sm-flex-col-1"
      >
        <div class="cell">06</div>
      </div>
      <div
        class="content xl-flex-col-3 lg-flex-col-2 md-flex-col-4 sm-flex-col-3"
      >
        <div class="cell">07</div>
      </div>
      <div
        class="content xl-flex-col-3 lg-flex-col-6 md-flex-col-1 sm-flex-col-2"
      >
        <div class="cell">08</div>
      </div>
      <div
        class="content xl-flex-col-3 lg-flex-col-2 md-flex-col-1 sm-flex-col-1"
      >
        <div class="cell">09</div>
      </div>
      <div
        class="content xl-flex-col-3 lg-flex-col-1 md-flex-col-2 sm-flex-col-1"
      >
        <div class="cell">10</div>
      </div>
      <div
        class="content xl-flex-col-2 lg-flex-col-1 md-flex-col-4 sm-flex-col-1"
      >
        <div class="cell">11</div>
      </div>
      <div
        class="content xl-flex-col-2 lg-flex-col-6 md-flex-col-3 sm-flex-col-1"
      >
        <div class="cell">12</div>
      </div>
      <div
        class="content xl-flex-col-2 lg-flex-col-4 md-flex-col-2 sm-flex-col-2"
      >
        <div class="cell">13</div>
      </div>
      <div
        class="content xl-flex-col-2 lg-flex-col-3 md-flex-col-1 sm-flex-col-1"
      >
        <div class="cell">14</div>
      </div>
      <div
        class="content xl-flex-col-2 lg-flex-col-1 md-flex-col-1 sm-flex-col-2"
      >
        <div class="cell">15</div>
      </div>
      <div
        class="content xl-flex-col-2 lg-flex-col-2 md-flex-col-1 sm-flex-col-1"
      >
        <div class="cell">16</div>
      </div>
      <div
        class="content xl-flex-col-6 lg-flex-col-2 md-flex-col-3 sm-flex-col-4"
      >
        <div class="cell">17</div>
      </div>
      <div
        class="content xl-flex-col-3 lg-flex-col-4 md-flex-col-1 sm-flex-col-4"
      >
        <div class="cell">18</div>
      </div>
      <div class="content xl-flex-col-3 lg-flex-col-3 md-flex-col-2">
        <div class="cell">19</div>
      </div>
      <div class="content xl-flex-col-2 lg-flex-col-2 md-flex-col-1">
        <div class="cell">20</div>
      </div>
      <div class="content xl-flex-col-2 lg-flex-col-3 md-flex-col-2">
        <div class="cell">21</div>
      </div>
      <div class="content xl-flex-col-2 lg-flex-col-3 md-flex-col-1">
        <div class="cell">22</div>
      </div>
      <div class="content xl-flex-col-6 lg-flex-col-1 md-flex-col-1">
        <div class="cell">23</div>
      </div>
      <div class="content xl-flex-col-1 lg-flex-col-2 md-flex-col-1">
        <div class="cell">24</div>
      </div>
      <div class="content xl-flex-col-1 lg-flex-col-2 md-flex-col-2">
        <div class="cell">25</div>
      </div>
      <div class="content xl-flex-col-1 lg-flex-col-1 md-flex-col-1">
        <div class="cell">26</div>
      </div>
      <div class="content xl-flex-col-6 lg-flex-col-3 md-flex-col-1">
        <div class="cell">27</div>
      </div>
      <div class="content xl-flex-col-1 lg-flex-col-1 md-flex-col-1">
        <div class="cell">28</div>
      </div>
      <div class="content xl-flex-col-1 lg-flex-col-2 md-flex-col-3">
        <div class="cell">29</div>
      </div>
      <div class="content xl-flex-col-1 lg-flex-col-1 md-flex-col-2">
        <div class="cell">30</div>
      </div>
    </div>
  </div>
</div>
