.app-root {
  width: 100%;
  padding: var(--sizing-24) var(--sizing-16);
  box-sizing: border-box;
}

.card {
  background: var(--background-mode-500);
  width: 100%;
  box-shadow: var(--shadow-bottom-light-4);
  overflow: hidden;
  border-radius: var(--sizing-8);
}

.container {
  width: 100%;
  padding: var(--sizing-16);
  box-sizing: border-box;
}

.grid {
  border-radius: var(--sizing-8);

  .cell {
    background: var(--background-mode-100);
    color: var(--color-mode-300);
    border-radius: var(--sizing-8);
    text-align: center;
    padding: var(--sizing-8);
    box-sizing: border-box;

    &:nth-child(6n + 1) {
      background: var(--theme-mode-100);
      color: var(--color-dark-500);
    }

    &:nth-child(6n + 2) {
      background: var(--theme-mode-300);
      color: var(--color-dark-500);
    }

    &:nth-child(6n + 3) {
      background: var(--theme-mode-500);
      color: white;
    }

    &:nth-child(6n + 4) {
      background: var(--theme-mode-700);
      color: white;
    }

    &:nth-child(6n + 5) {
      background: var(--theme-mode-900);
      color: white;
    }

    &:nth-child(6n + 6) {
      background: var(--gradient-mode-500);
      color: white;
    }

    span {
      padding: 0rem var(--sizing-8);
      border-radius: var(--sizing-8);
    }
  }
}

.flex {
  .content {
    .cell {
      width: 100%;
      color: var(--color-mode-500);
      border-radius: var(--sizing-8);
      text-align: center;
      padding: var(--sizing-8);
      box-sizing: border-box;
    }

    &:nth-child(6n + 1) {
      .cell {
        background: var(--theme-xofttion-300);
        color: var(--font-mode-500);
      }
    }

    &:nth-child(6n + 2) {
      .cell {
        background: var(--theme-warning-300);
        color: var(--font-mode-500);
      }
    }

    &:nth-child(6n + 3) {
      .cell {
        background: var(--theme-danger-300);
        color: var(--font-mode-500);
      }
    }

    &:nth-child(6n + 4) {
      .cell {
        background: var(--theme-info-300);
        color: var(--font-mode-500);
      }
    }

    &:nth-child(6n + 5) {
      .cell {
        background: var(--theme-happy-300);
        color: var(--font-mode-500);
      }
    }

    &:nth-child(6n + 6) {
      .cell {
        background: var(--theme-success-300);
        color: var(--font-mode-500);
      }
    }
  }
}
